
<div ng-app='client' class="container">
        <div ng-controller="ReportCtrl">
            <h4>UDHD Report</h4>
            <!-- <form action="" method="post" enctype="multipart/form-data"> -->
            <form>
                <div class='form-group'>
                    <label for='excel_file'>Excel File</label>
                    <input type="file" name="excel_file" accept=".xlsx" onchange="angular.element(this).scope().fileChanged(this.files);" required="false">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showPreview" ng-change="showPreviewChanged();">Show preview of excel file
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showJSONPreview">Show JSON preview of selected sheet
                    </label>
                </div>
                <div ng-show="isProcessing">
                    <span>Processing ...</span>
                </div>

                <div class='form-group'>
                    <label for='sheet_name'>Sheet Name</label>
                    <select id="sheet_name" class="form-control" ng-change="updateJSONString()" ng-model="selectedSheetName" required="false" ng-required="false" ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets">
                        <option value="">---- Select a sheet ----</option>
                    </select>
                </div>

                <input type="hidden" name="sheet_name" value="{{ selectedSheetName }}">

                <input type="submit" ng-click="submitData()" value="Submit">

                <div ng-show="showJSONPreview">
                    <h4>JSON Preview of selected sheet</h4>
                    <pre class="langauge-javascript">
                        <code>{{ json_string }}</code>
                    </pre>
                </div>
                <!-- <div ng-show="showPreview">
                    <table class="table table-bordered" ng-repeat="(sheetName, sheetData) in sheets" ng-show="sheetName == selectedSheetName">
                        <thead>
                            <tr>
                                <th ng-bind="sheetName"></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in sheetData.data">
                            <td ng-repeat="col in row" ng-bind="col"></td>
                        </tr>
                    </table>
                </div> -->
            </form>
        </div>
    </div>
